client
proto tcp
remote {{ server_address }}
port {{ listen_on_port_number }}
nobind
comp-lzo

key-direction 1
remote-cert-tls server

dev tunVPN

<ca>
{{ ca_cert }}
</ca>

<cert>
{{ client_cert }}
</cert>

<key>
{{ client_key }}
</key>

<tls-auth>
{{ ta_key }}
</tls-auth>
