server-ipv6 {{ ip_address_prefix }}::/64
server {{ ipv4_address }} {{ ipv4_subnet_mask }}

verb 3
key /etc/openvpn/{{ server_name }}.key
ca /etc/openvpn/ca.crt
cert /etc/openvpn/{{ server_name }}.crt
dh /etc/openvpn/dh.pem
tls-auth /etc/openvpn/ta.key
key-direction 0
keepalive 10 60
comp-lzo
persist-key
persist-tun

proto tcp

port {{ listen_on_port_number }}
dev {{ tunnel_interface }}
status /tmp/openvpn-status.log

user nobody
group nogroup

#tun-ipv6
#push tun-ipv6
#ifconfig-ipv6 {{ ip_address_prefix }}::1 2001:db8:0:123::2

push "route-ipv6 {{ ip_address_prefix }}::/64"

# script-security 2
# up vpn_routing_up.sh
# down vpn_routing_down.sh
